/* Use this section of css only for tag selectors */
/* Setting universal margin and padding to zero for more precision in designing html elements.
     border-box property allows for padding and border size to be included in width and height of
     an element for more accurate sizing. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

i {
  display: block;
}

/* Use this section of css for others selector in a descending html order */
.container {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #394867;
}

.container a {
  display: inline-block;
  float: left;
  width: 20%;
  color: #f1f6f9;
  font-weight: 700;
}

.container a:hover {
  background-color: #14274e;
  transition: 1s;
}

.main-content {
  height: 100vh;
  width: 100%;
  background-color: gray;
}

.sticky-footer {
  padding: 5.5px 3.5px 3.5px 3.5px;
  left: 43%;
  bottom: 0;
  text-align: center;
  position: fixed;
  width: 17%;
  z-index: 1;
  color: #f1f6f9;
  background-color: #14274e;
  border-radius: 15px 15px 0 0;
  font-size: 50%;

}

.footer {
  background-color: #14274e;
  padding-bottom: 5%;
}
.footer-table {
  border-collapse: collapse;
  width: 100%;

}
.footer-table th {
  padding: 2% 0 0 6%;
  text-align: left;
  font-size: 110%;
  font-weight: bold;
  color: #f1f6f9;
}
.footer-table td {
  padding: 0.8% 0 0 6%;
  text-align: left;
}
.footer-table td a {
  color: #9ba4b4;
}
.email-input {
  font-size: 120%;
  border-radius: 10px;
  border: none;
  padding: 1.5%;
}
input[type="submit"] {
  display: inline-block;
  border: none;
  width: 52%;
  height: 4vh;
  color: #f1f6f9;
  background-color: #394867;
border-radius: 20px;
}
input[type="submit"]:hover {
  background-color: #9ba4b4;
  color: #14274e;
}
