/* Use this section of css only for tag selectors */
/* Setting universal margin and padding to zero for more precision in designing html elements.
     border-box property allows for padding and border size to be included in width and height of
     an element for more accurate sizing. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}

i {
  display: block;
}
img {
	float:left;
}
header {
	background-color:#2a52a2;
	padding:30px;
	text-align: center;
	font-size:20px;
	color:white;
}
nav {
	float:left;
	width:30%;
	background:#7194da;
	padding:20px;
	height:350px;
}
nav ul {
	list-style-type:none;
	padding:0;
}
article {
	float:left;
	padding:10px;
	width:70%;
	background-color:#eaeffa;
	max-height: 350px;
	overflow: auto;
}
section:after {
	content:"";
	display:table;
	clear:both;
}
footer {
	background-color: #274fa5;
	padding:10px;
	text-align: center;
	color:white;
}
/*This is for make responsive element (nav & article) , change the size of windows and test it !!*/
@media (max-width:800px) {
	nav , article {
		width:100%;
		height:auto;
	}
}
/* Use this section of css for others selector in a descending html order */
.container {	 
  text-align: center;	
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #394867;
}

.container a {
  text-decoration: none;
  display: inline-block;
  float: left;
  width: 20%;
  color: #f1f6f9;
  font-weight: 700;
}

.container a:hover {
  background-color: #14274e;
  transition: 1s;
}

.main-content {
  height: auto;
  width: 100%;
  background-color: gray;
}

.sticky-footer {
  padding: 5.5px 3.5px 3.5px 3.5px;
  left: 43%;
  bottom: 0;
  text-align: center;
  position: fixed;
  width: 17%;
  z-index: 1;
  color: #f1f6f9;
  background-color: #14274e;
  border-radius: 15px 15px 0 0;
  font-size: 50%;

}

.footer {
  background-color: #14274e;
  padding-bottom: 5%;
}
.footer-table {
  border-collapse: collapse;
  width: 100%;

}
.footer-table th {
  padding: 2% 0 0 6%;
  text-align: left;
  font-size: 110%;
  font-weight: bold;
  color: #f1f6f9;
}
.footer-table td {
  padding: 0.8% 0 0 6%;
  text-align: left;
}
.footer-table td a {
  color: #9ba4b4;
}
.email-input {
  font-size: 120%;
  border-radius: 10px;
  border: none;
  padding: 1.5%;
}
input[type="submit"] {
  display: inline-block;
  border: none;
  width: 52%;
  height: 4vh;
  color: #f1f6f9;
  background-color: #394867;
border-radius: 20px;
}
input[type="submit"]:hover {
  background-color: #9ba4b4;
  color: #14274e;
}
/*Use this section to put your created ID's*/
#library {
   background-image: url('https://cdn1.bbcode0.com/uploads/2020/10/22/9f72c9d8523dda0160f91a3cfbda50dd-full.png');
   height: 70px;
   width: 120px;
}
#library:hover {
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3sBJy6K2lwQRiN1h7fvowfebsms9RERqNjw&usqp=CAU');
   height: 70px;
   width: 120px;
}